.ABG-container {
    position: fixed;
    top: 0;
    right: 3%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.ABG-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;

    background: rgba(21, 21, 88, 0.404);
    box-shadow: inset 0 0 14px -2px #ddd;
    border-radius: 50px;
    min-height: 120px;
}

.ABG-button {
    background: rgba(1, 1, 119, 0.64);
    border: none;
    border-radius: 100%;
    min-height: 40px;
    min-width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color:white;
    text-decoration: none;

    box-shadow: inset 0 0 10px -2px #ddd;
    transition: all .3s ease;

    position: relative;
}

.ABG-button:hover {
    transform: scale(1);
}

.ABG-button a {
    color: white;
    text-decoration: none;
}

.ABG-tooltip {
    visibility: hidden;
    min-width: 50px;
    width: max-content;
    position: absolute;
    right: 0px;

    border-radius: 50px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.411);
    box-shadow: inset 0 0 10px -2px #ddd;
    color: #ddd;
    transition: all .05s ease;
}

.ABG-button:hover .ABG-tooltip {
    visibility: visible;
    right: 55px;
}